#canvas{
    width: 500px;
    height: 600px;
    margin:  0 auto;
    background:lightblue;
    background-repeat: repeat-y;
    background: url("../images/background.jpg");
    position: relative;


}



.dragon{
/* float: left; */
background:url("../images/dragon.png");
height: 100px;
width: 100px;
background-repeat: no-repeat;
display: none;
position: absolute;

}

.plane{
    position: absolute;
    height: 100px;
    width: 100px;
    background: url("../images/plane.png");
    bottom: 0px;
    left: 0px;
}

.bullet{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: goldenrod;
    bottom: 100px;
    left: 50px;

}

.reset-button{
    display: block;
    background: white;
    color: green;
    font-size: 20px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
}


.startgame  {

    font-size: 20px;
    font-weight: bold;
    color: red;
    background: black;
    display: block;
    text-align: center;
    height: 50px;
    width: 150px;
    line-height: 2.5;
    position: absolute;
    top: 200px;
    left: 200px;
    border-radius: 10px;
    border:1px solid black;
    opacity: 0.7;

}

.gameover{
    font-size: 40px;
    font-weight: bold;
    color: red;
    background: black;
    display: block;
    text-align: center;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 200px;
    opacity: 0.7;
}

.score {
    font-size: 20px;
    color: red;
    width: 150px;
    height: 30px;
    position: absolute;
    top:0;
    left: 0;
    border: 2px solid blue;
    border-radius: 20px;
    text-align: center;
}