#canvas{
    width: 500px;
    height: 600px;
    margin:  0 auto;
    background:lightblue;
    background-repeat: repeat-y;
    background: url("../images/background.jpg");


}



.dragon{
float: left;
background:url("../images/dragon.png");
height: 100px;
width: 100px;
background-repeat: no-repeat;
display: block;
}
