*{
    margin: 0px;
    padding: 0px;
}


#canvas{
    width: 800px;
    height: 500px;
    background: url(../images/background.png) repeat-x;
    position: relative;
}

.bird{
    background: url(../images/bird.png) no-repeat;
    height: 24px;
    width: 34px;
    position: absolute;
    z-index: 10;
    
}

.pipedown{
    position: absolute;
    background: url(../images/pipe.png) no-repeat;
    width: 52px;
   
  
    
}

.pipeup{
    position: absolute;
    background: url(../images/pipe.png) no-repeat;
    transform: rotate(180deg);
    width: 52px;   
}


.base{
    background: url(../images/base.png);
}

.gameOver{
    position: absolute;
    z-index: 20px;
    text-align: center;
    height: 400px;
    width: 800px;
    color: red;
    font-size: 40px;
    left: 0px;
    top: 0px;
    background:blue;
    opacity: 0.5;
    padding-top: 100px;

}

.start-screen{
    position: absolute;
    background: black;
    height: 400px;
    width: 800px;
    left: 0px;
    top: 0px;
    opacity: 0.5;
    
}

button{
    position: absolute;
    top: 250px;
    left:250px;
    background: green;
    border: 1px solid red;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    padding: 5px;
}

.start{
    position: absolute;
    top: 150px;
    left:230px;
    border-radius: 10px;
    color: white;
    font-size: 60px;
    padding: 5px;

}